html {
  font-family: 'Lucida Grande', 'Cantarell', 'Arial', sans-serif;
  background-color: #cfcbbf;
}

body {
  background-color: white;
  color: #000000;
  margin: 0 auto;
  max-width: 1300px;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(207, 251, 236);
}

.logo img {
  display: block;
  width: 45%;
  max-width: 400px;
  min-width: 200px;
  margin-top: 8%;
  margin-left: 18%;
}

.header-text {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  margin-right:10%;
}

header .header-text h1 {
  font-size: 46px;
  margin-top: 10%;
}


nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  padding-right: 70px;
  font-size: 30px;
  text-decoration: none;
  padding-left: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-content {
  width:fit-content;
  background-color:rgb(252, 252, 230);
}

aside {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 222, 239);
  width:300px;
}

h2 {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 8px;
}

.loc h2 {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid;
}

h3 {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

aside h3 {
  border-top: 1px dashed;
  padding-top: 5px;
}

h4 {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

strong {
  font-size: 22px;
  color: purple;
}

li {
  font-size: 18px;
  margin-top:10px;
}

.time-table {
  display: flex;
  flex-direction: row;
}

.column {
  margin-right: 60px;
}

.column h3 {
  color: rgb(73, 116, 156);
  font-size: 22px;
}

.fit-page img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  min-width: 500px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: rgb(219, 215, 215);
  padding: 20px;
}

.footer_logo img {
  display: block;
  margin-top: 20px;
  margin-left: 60px;
  width: 50%;
  max-width: 250px;
  min-width: 100px;
}

footer p {
  font-size: 22px;
}

@media (min-width: 950px) and (max-width: 1100px) {
  header .header-text h1 {
      font-size: 40px;
  }

  nav ul li a {
      padding-right: 50px;
  }

  .column {
      margin-right: 50px;
  }

  .fit-page img {
      padding: 5px;
      min-width: 0;
      width: 80%;
  }

  .logo img {
      margin: 0;
      padding: 25px;
  }
}

@media (min-width: 800px) and (max-width: 950px) {
  header .header-text h1 {
      font-size: 35px;
  }

  nav ul li a {
      padding-right: 45px;
      font-size: 25px;
  }

  .column {
      margin-right: 35px;
  }

  .fit-page img {
      padding: 5px;
      min-width: 0;
      width: 80%;
  }

  .logo img {
      margin: 0;
      padding: 25px;
      min-width: 180px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {

  header .header-text h1 {
      font-size: 30px;
  }

  nav ul li a {
      padding-right: 20px;
      font-size: 25px;
  }

  .column {
      margin-right: 35px;
  }

  .fit-page img {
      padding: 5px;
      min-width: 0;
      width: 80%;
  }

  .logo img {
      margin: 0;
      padding: 25px;
      min-width: 170px;
  }

  footer p {
      font-size: 18px;
  }
}

@media (max-width: 700px) {

  .main {
      flex-direction: column;
  }

  .main-content {
      width: 100%;
  }

  header {
      flex-direction: column;
      text-align: center;
  }

  .header-text {
      display: block;
      margin:0;
  }

  header .header-text h1 {
      display: block;
      font-size: 30px;
      margin: 0 auto;
      padding-bottom: 25px;
  }

  nav ul {
      display: block;
      border: 0;
      padding: 0;
      margin: 0 auto;
  }

  nav ul li a {
      font-size: 24px;
      padding-right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
  }

  nav ul li a:hover {
      border-top: 2px solid grey;
      border-bottom: 2px solid grey;
    }

  h2 {
      padding-left: 25px;
      padding-right: 25px;
  }

  h3 {
      padding-left: 25px;
      padding-right: 25px;
  }

  h4 {
      padding-left: 25px;
      padding-right: 25px;
  }

  p {
      padding-left: 25px;
      padding-right: 25px;
  }

  .time-table {
      flex-direction: column;
  }

  aside {
      width: 100%;
  }

  .time {
      display: flex;
      flex-direction: row;
  }

  aside h2 {
      font-size: 18px;
      margin: 0;
  }

  .day h3 {
      font-size: 17px;
      border: none;
  }

  .day h4 {
      font-size: 16px;
  }

  .day p {
      font-size: 15px;
  }

  .loc h2 {
      font-size: 18px;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 5px;
  }

  .loc p {
      font-size: 15px;
  }


  .logo img {
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 25px;
  }

  .fit-page img {
      padding: 5px;
      min-width: 0;
      width: 80%;
  }

  footer {
      flex-direction: column;
      align-items: center;
  }

  footer p {
      font-size: 13px;
  }

  .footer_logo img {
      width: 30%;
      margin: 0 auto;
      padding: 12px;
  }
}
