<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ major }} Requirements in {{ college }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/site.css') }}">
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}" defer></script>
</head>
<body>
    <div class="main-content">
        <div class="major-requirement">
            <a href="/">
                <button>Home Page</button>
            </a>
            <h1>{{ major }} - {{ college }}</h1>
            <label for="semester">Plan for semester:</label>
            <select id="semester" name="semester">
                <option value="any">any</option>
                <option value="FA25">FA25</option>
                <option value="SP26">SP26</option>
                <option value="FA26">FA26</option>
                <option value="SP27">FA26</option>
            </select>


            <!-- Section Type A -->
            {% for section_name, details in simple_sections.items() %}
                <h2>{{ section_name }}</h2>
                {% if details.Description %}
                    <p><strong>Description:</strong> {{ details.Description }}</p>
                {% endif %}

                {% if details.Number is not none %}
                    <p><strong>At least: </strong> {{ details.Number }} Course(s)</p>
                {% endif %}  
                
                <ul class="course-groups">
                    {% for group in details.Courses %}
                        <li class="course-group {% if is_group_taken(group, courses_taken) %}group-taken{% endif %}">
                            <!-- <div class="group-container"> -->
                                <div class="course-grid-A">
                                    {% for course in group %}
                                    {% set subject = course | extract_subject %} 
                                    {% if subject in course_data and course in course_data[subject] %}
                                    <div class="course-block-A">
                                        <a href="{{ course }}" target="_blank">
                                            <button id="button-{{ course }}" class="{% if course in courses_taken %}taken-course-A{% elif course|is_eligible %}eligible-course-A{% else %}default-course-A{% endif %}">
                                                {{ course }}
                                            </button>
                                        </a>
                                        <p>{{ course_data[subject][course].Title }}</p>
                                        <button id="taken-btn-{{ course }}" class="taken-btn-A" onclick="markCourseAsTakenA('{{ course }}')">Taken</button>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            <!-- </div> -->
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

            <!-- Section Type B -->
            {% for section_name, details in searchable_sections.items() %}
                <h2>{{ section_name }}</h2>
                {% if details.Description %}
                    <p><strong>Description:</strong> {{ details.Description }}</p>
                {% endif %}

                {% if details.Number is not none %}
                    <p><strong>At least: </strong> {{ details.Number }} Course(s)</p>
                {% endif %}
                <button>filter</button>

                {% set sanitized_section_name = section_name | replace(' ', '-') %}
                <!-- Courses Already Taken -->
                <h4>
                    Courses Already Taken 
                    (<span id="taken-counter-{{ sanitized_section_name }}">
                        {{ details.Courses | select('in', courses_taken) | list | length }}
                    </span> / {{ details.Number }})
                </h4>
                <div id="course-list-{{ sanitized_section_name }}" class="course-list-B">
                    {% for course in details.Courses if course in courses_taken %}
                        <a href="{{ course }}" target="_blank">
                            <button class="taken-course-B">
                                {{ course }}
                            </button>
                        </a>
                    {% endfor %}
                </div>

                <!-- Courses Not Taken -->
                <h4>You can choose</h4>
                <button class="get-new-rcm" onclick="reloadPage()">Get New Recommendation</button>
                <div id="course-gridB-{{ sanitized_section_name }}" 
                class="course-grid-B"
                data-section="{{ sanitized_section_name }}">
                    {% for course in details.Courses %}
                        {% set subject = course | extract_subject %}
                        {% if subject in course_data and course in course_data[subject] %}
                            <!-- Larger container for each course -->
                            <div id="course-blockB-{{ course }}" class="course-block-B">
                                <a href="{{ course }}" target="_blank">
                                    <button class="{% if course in courses_taken %}taken-course-B{% elif course|is_eligible %}eligible-course-B{% else %}default-course-B{% endif %}">
                                        {{ course }}
                                    </button>
                                </a>
                                <p>{{ course_data[subject][course].Title }}</p>
                                <!-- Tags for the course -->
                                <div class="course-tags">
                                    {% for tag, description in details.Courses[course][1].items() %}
                                        <span class="course-tag" title="{{ description }}">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <button class="taken-btn-B" onclick="markCourseAsTakenB('{{ course }}','{{sanitized_section_name}}')">Taken</button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Pagination buttons -->
                <div class="pagination-controls" id="pagination-controls-{{ sanitized_section_name }}">
                    <button onclick="changePage('{{ sanitized_section_name }}', -1)">Previous</button>
                    <button onclick="changePage('{{ sanitized_section_name }}', 1)">Next</button>
                </div>
            {% endfor %}
        </div>

        <div class="side-bar">
            <h2>Courses Taken</h2>
            <div class="course-grid-S">
                {% for course in courses_taken %}
                <div class="course-item" id="course-item-{{ course }}">
                    <button class="remove-course" onclick="removeCourse('{{ course }}')">✖</button>
                    <span class="course-code-S">{{ course }}</span>
                </div>
                {% endfor %}
            </div>
            <h2>FA25</h2>
            <h2>SP26</h2>
            <h2>FA26</h2>
            <h2>SP27</h2>
        </div>

    </div>
</body>
</html>